<div class="w-[500px]">
  <form [formGroup]="formItemOption" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Adicionar novo item</h1>
<mat-dialog-content class="w-full">
  <div class="flex">
    <mat-form-field class="w-full">
      <mat-label>Item</mat-label>
      <input id="item" formControlName="item" matInput required/>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="flex gap-2 float-right">
  <button class="p-2 px-2 bg-custom-teal rounded text-white">Salvar</button>
  <button class="p-2 px-2 rounded shadow" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
</form>
</div>
