<div class="w-[500px]">
<form [formGroup]="formAssignment" (ngSubmit)="onSubmit()">
  <h1 class="p-4">Adicionar novo participante</h1>
  <mat-dialog-content class="w-full">
  <div class="flex gap-2">
    <mat-form-field class="w-full">
      <mat-label>Nome do colaborador</mat-label>
      <mat-select [ngModel]="selectedValue" formControlName="colaboratorId" name="colaborator">
        @for (colaborator of colaborators; track $index) {
        <mat-option [value]="colaborator.id">{{
          colaborator.name
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Item</mat-label>
      <mat-select multiple [ngModel]="selectedValue" formControlName="itemOptionId" name="item">
        @for (item of items; track $index) {
        <mat-option [value]="item.id">{{ item.item }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  </mat-dialog-content>

  <mat-dialog-actions class="flex gap-2 float-right">
    <button type="submit" class="p-2 px-2 bg-custom-teal rounded text-white">Salvar</button>
    <button class="p-2 px-2 rounded shadow" mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>
</form>
</div>