<section>
  <img
    class="coffee-img"
    src="assets/coffeechat.png"
    alt="Pessoas conversando e tomando um café"
  />

  <h1 class="coffee-title mat-headline-1">
    Café <br />
    <span class="text-3xl">&</span> <br />
    Diversão
  </h1>
</section>

<section>
  <div class="absolute bottom-0 w-full flex items-end justify-around space-x-10 mb-12">
    <!-- Left Circle -->
    <div class="flex flex-col items-center">
      <div class="bg-custom-teal bg-opacity-20 rounded-full w-32 h-32 relative mb-2">
        <img class="object-scale-down w-32 h-32 rounded-full" src="assets/chatting.svg" alt="" />
      </div>
      <div class="text-center">
        <h2 class="mb-2">Interação com seus colegas</h2>
        <p class="text-gray-500">
          Um momento de descontração para você se sentir mais leve
        </p>
      </div>
    </div>
  
    <!-- Center Circle -->
    <div class="flex flex-col items-center">
      <div class="bg-custom-teal bg-opacity-20 rounded-full w-32 h-32 relative mb-2">
        <img class="object-scale-down w-32 h-32 rounded-full" src="assets/emoji.svg" alt="" />
      </div>
      <div class="text-center">
        <h2 class="mb-2">Comidas saborosas</h2>
        <p class="text-gray-500">
          Todas as comidas do nosso café são deliciosas.
        </p>
      </div>
    </div>
  
    <!-- Right Circle -->
    <div class="flex flex-col items-center">
      <div class="bg-custom-teal bg-opacity-20 rounded-full w-32 h-32 relative mb-2">
        <img class="object-scale-down w-32 h-32 rounded-full" src="assets/beef.svg" alt="" />
      </div>
      <div class="text-center">
        <h2 class="mb-2">Opções veganas</h2>
        <p class="text-gray-500 whitespace-normal">
          Para ninguém ficar de fora, aproveite as opções veganas.
        </p>
      </div>
    </div>
  </div>
  
</section>
