.coffee-img {
  width: 700px;
  position: absolute;
  top: 15%;
  left: 10%;
}
.mat-headline-1 {
  font-size: 64px !important;
  font-family: 'Pacifico', cursive !important;
  word-wrap: break-word;
  margin: 0;
}

.coffee-title {
  position: absolute;
  right: 20%;
  top: 40%;
  color: #357F71;
  text-align: center;
}
