<div class="max-w-lg">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table max-w-lg"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>NOME</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell *matCellDef="let row">{{ row.cpf }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>AÇÕES</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="openEditColaborator(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteColaborator(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
