<mat-card class="p-10">
  <div class="flex justify-between mb-4">
    <h1 class="text-2xl font-bold">Coffee Day</h1>
    <button  class="mt-2 bg-custom-teal p-2 px-2 rounded-lg text-white font-medium" (click)="openNewCoffeeDay()">
      Adicionar novo dia
    </button>
  </div>

  <table mat-table [dataSource]="coffeeDatasource">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Dia do café</th>
      <td mat-cell *matCellDef="let row" (click)="openCoffeeDetails(row)">{{ row.coffeeDate }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>